.container {
    width: min(100%, 1440px);
    margin: auto;
}

/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 130px;
}

.burger {
    display: none;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 14px;
}

h2 {
    color: #FA793C;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

ul {
    display: flex;
    column-gap: 32px;
}

ul li a {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.contact {
    display: none;
}

/* Section 1 */

.section_1 {
    height: 550px;
    background-image: url("../images/section1_cover.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    padding: 185px 130px;
}

.section_1_div {
    row-gap: 20px;
    display: flex;
    flex-direction: column;
}

h3 {
    color: #FFF;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 75px;
    text-align: center;
}

.section_1_p {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}


/* Section 2 */

.section_2 {
    padding: 130px;
}

.card {
    display: flex;
    justify-content: space-between;
}

.discovery {
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
    padding-bottom: 35px;
}

.section_2_div {
    width: 378px;
    border: 1px solid #000;
    object-fit: cover;
}

.section_2_div img {
    width: 100%;
}

.section_2_div_content {
    padding: 16px;
    row-gap: 8px;
}

h6 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.section_2_div_p {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}


span {
    font-size: 40px;
    color: red;
}